[Unit]
Description=<description>
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=<environment_file>

ExecStart=/bin/sh -c 'LD_LIBRARY_PATH=<ld_path> <ragent_path>/ragent -d "<cluster_folder>" -port <port> -regport <regport> -range <range> <debug>'

KillSignal=SIGINT

User=<user>
#Group=grp1cv8
UMask=0002
PermissionsStartOnly=true

LimitCORE=infinity
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
