[Unit]
Description=<description>
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple

ExecStart=/bin/sh -c 'LD_LIBRARY_PATH=<ld_path> <ras_path>/ras cluster --port=<ras_port> <cluster_addr>'

KillSignal=SIGINT
# Restart=always
# RestartSec=5

User=<user>
# Group=grp1cv8

LimitCORE=infinity

[Install]
WantedBy=multi-user.target
